a {
  color: #007ACC;
}

div.mainPage {
  margin-left  : 20%;
  margin-right : 20%;
  margin-top   : 15px;
  margin-bottom: 15px;
}

div.singlebox {
  border-style : solid;
  border-width : 1px;
  border-color : #B2B2B2;
  border-radius: 4px;
  box-shadow   : 0px 0px 5px #888888;
  padding      : 15px;
  margin-left  : 5px;
  margin-right : 5px;
  margin-top   : 15px;
  margin-bottom: 15px;
}

div.headblock {
  background           : url(/static/sunrise.jpg);
  background-position-y: 80%;
  color                : #f3f3f3;
  background-size      : cover;
  padding              : 8%;
  font-size            : 27px;
}

div.footblock {
  background           : url(/static/footblock.jpg);
  background-position-y: 60%;
  color                : #f3f3f3;
  background-size      : cover;
  padding              : 5%;
  font-size            : 17px;
}

b {
  font-weight: bold;
}

code {
  display: block;
  word-wrap: break-word;
  font-family: 'Cascadia Code', 'Consolas', '宋体';
  border-style: solid;
  border-width: 1px;
  border-color: #B2B2B2;
  border-radius: 4px;
  margin: 7px 0px 7px 0px;
  padding: 2px;
}