a {
  color: #007ACC;
}

div.mainPage {
  margin: 15px 20% 15px 20%;
}

div.singlebox {
  border       : solid 1px #B2B2B2;
  border-radius: 4px;
  box-shadow   : 0px 0px 5px #888888;
  padding      : 15px;
  margin       : 15px 5px 15px 5px;
}

div.headblock {
  background           : url(/static/sunrise.jpg);
  background-position-y: 80%;
  color                : #f3f3f3;
  background-size      : cover;
  padding              : 8%;
  font-size            : 27px;
}

div.footblock {
  background           : url(/static/footblock.jpg);
  background-position-y: 60%;
  color                : #f3f3f3;
  background-size      : cover;
  padding              : 5%;
  font-size            : 17px;
}

b {
  font-weight: bold;
}

code {
  display      : block;
  word-wrap    : break-word;
  font-family  : 'Cascadia Code', 'Consolas', '宋体';
  border-style : solid;
  border-width : 1px;
  border-color : #B2B2B2;
  border-radius: 4px;
  margin       : 7px 0px 7px 0px;
  padding      : 2px;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

red{
  color: red;
}